html,body{
  overflow-x: hidden ;
}

body{
  margin:0px;
  padding: 0px;
  
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}
*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  outline: none;
  border: none;
}
input{
  outline: none;
  border: none;
}
.logo img{
  width: 90px;
}
#main{
  width:100%;
  height:1050px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/darken.png");
}
#main #span-metasneakers{
  color:#60fd44;
  font-size: 1.5rem;
}

nav{
display: flex;
justify-content: space-around;
align-items: center;
box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.336);
position: fixed;
left: 0;
top: 0;
width:100%;
z-index: 1;
background-color: #0f0f0f;
}
nav ul{
display: flex;
}
.active{
  background-color: #60fd44;
  color:#000000;
box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
transition: all ease 0.2s;
}
nav ul li a{
  font-family: calibri;
height:40px;
line-height: 43px;
margin: 3px;
padding: 0px 22px;
display: flex;
font-size: 0.8rem;
text-transform: uppercase;
font-weight: 500;
color:#ffffff;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
.hey{
  font-family: calibri;
color:#ffffff;
font-weight: 500;
font-size: 0.9rem;
border-bottom: 2px solid #000266;
}
nav ul li a:hover{
background-color: #60fd44;
  color:#000000;
box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
  display:none;
}
.name{
font-family: 'Montserrat';
width: 500px;
position: absolute;
  left: 50%;
  text-align: center;
top: 50%;
transform: translate(-50%,-50%);
}
.name span{
  color: #60fd44;
  border-bottom: 2px solid #60fd44;
}
.name .details{
  color: #969696;
}
.name h1{
font-family:'Montserrat';
font-size: 46px;
margin:0px;
letter-spacing: 3px;
color:#ffffff;
}
.header-btns{
  display: flex;
  margin-top: 40px;
  margin-left: 6.8em;
}
.cv-btn{
width:110px;
height: 40px;
display: flex;
justify-content: center;
  align-items: center;
  background-color: #60fd44;
  box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.137);
  border-radius: 10px;
color:#000266;
}
.cv-btn1{
  font-size: 14px;
width:140px;
height: 40px;
display: flex;
justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #ffffff;
  color:#ffffff;
  border-radius: 10px;
  margin-left: 20px;
}
.cv-btn:hover{
background-color: #ffffff;
  transition: all ease 0.5s;
  color: #000266;
}
.cv-btn1:hover{
background-color: #ffffff;
  transition: all ease 0.5s;
  color: #000266;
}

.arrow{
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom:0px;
  border-right: 2px solid  #60fd44;
  animation: arrow-animation ease 1.5s;

}
.arrow::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0px 11px;
  border-color: #60fd44 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}
@keyframes arrow-animation{
  0%{
      bottom: 70px;
      opacity: 0.2;
  }
  100%{
      bottom: 5px;
      opacity: 1;
  }
}



/****************FEATURES *********************/

.f-heading h1{
  color:#FFFFFF;
  font-size: 2.5rem;
  margin: 0px;
  padding: 0px;

}
.f-heading p{
  color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin-top: 10px;
  padding: 0px;
}
.f-heading{
  text-align: center;
  margin-top: 60px;
  margin-bottom: -120px;
}
#features{
margin-top:120px ;
width:100%;
height: 130vh;
background-color:#000000;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px 5% 0px 5%;
position: relative;
/* aiciiiiiiiiiiiiiiiiiiiiii */
/* border: 1px solid red; */
}

.features-text{
  width: 45%;
  color: #fff;
  list-style: circle;
  /* border: 1px solid red; */
}
.features-text h2{
font-size: 2rem;
color:#60fd44;
font-weight: 400;
}
.features-text h2{
margin: 0px;
padding: 0px;
}
.features-text p{
font-size: 1.2rem;
color:#b4b4b4;

}
.features-text button{
  margin-top: 20px;
width: 140px;
height: 40px;
border-radius: 10px;
border: none;
  outline: none;
  color: #000266;
background-color:#60fd44;
}
.features-text button:hover{
background-color: #ffffff;
  transition: all ease 0.3s;
  color: #000266;
}
.features-model{
  width: 50%;
  /* border: 1px solid red; */
}
.features-model img{
width: 800px;
}

#roadMap{
  margin-top:50px ;
width:100%;
height: 120vh;
background-color:#000000;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px 5% 0px 5%;
position: relative;
}

.roadMap-left{
  width: 65%;
  color: #fff;
  list-style: circle;
}

.roadMap-right{
  width: 30%;
}

#roadMap p{
    color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin-top: 10px;
  padding: 0px;
}

#roadMap h2{
  font-size: 2rem;
  color:#60fd44;
  font-weight: 400;


  }
#roadMap h2{
  margin: 0px;
  margin-top: 40px;
  padding: 0px;
  }
 #roadMap #tesla{
  margin-top: 20px;
  font-weight: bold;
  text-decoration: underline;
  
 } 
 #roadMap #rolex{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: underline;
 }

#roadMap #prize{
  color:#60fd44;

}

.roadMap-right img{
  width: 500px;
  }

.roadMap-right #roadmapimg{
    width: 100px;
}


#faq{
  margin-top:50px ;
width:100%;
height: 120vh;
background-color:#000000;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px 5% 0px 5%;
position: relative;
}

.faq-left{
  width: 100%;
  color: #fff;
  list-style: circle;
}


#faq p{
    color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin-top: 10px;
  padding: 0px;
}

#faq h2{
  font-size: 2rem;
  color:#60fd44;
  font-weight: 400;


  }


/***************** TIMER ***********************/
.Timer{
  margin-bottom: 40px;
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .clock{
    position: relative;
    margin:a;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg,#0b1b07,#2a751d);
    height: 180px;
    width: 380px;
    color:#60fd44;
    text-shadow: 1px 1px 7px;
    border-radius: 15px;
    border:2px solid silver;
    box-shadow: 0 0 5px 25px;
  }
  .clock section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .clock section p{
    margin: 0;
    padding: 0;
    font-size: 3rem;
  }
  .clock section small{
    color:silver;
    text-shadow: none;
  }


#mint {
margin-top:140px ;
display:flex;
align-items: center;
flex-direction: column;
/* border:1px solid yellow; */
}

#mintAddress h2{
  padding: 20px;
  border-radius: 50px;
  background-color: #60fd44;
  font-size: 1.5rem;
  color:black;
  font-weight: 600;
}


#mintPage{  

width:100%;
height: 70vh;
margin-bottom: 20px;
background-color:#000000;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
/* border: 1px solid pink; */
padding: 50px 5% 0px 5%;

}

#mintPage h2{
  font-size: 2rem;
  color:#60fd44;
  font-weight: 400;
  }
#mintPage p{
  color:rgba(247, 247, 247, 0.678);  color:#60fd44;

  width:40%;
  /* border: 1px solid red; */
}
.mint-left img{
  width:650px;
}
.mint-right{
  padding: 50px;
  width: 55%;
  border: 5px solid #60fd44;
  border-radius:30px;
  text-align: center;
}

.mint-right h2{
  padding: 0;
}
.mint-right p{
  margin:auto;
  padding: 0;
 
}

.mint-right button{
font-size:1.8rem;
text-align: center;
margin: 25px;
width: 60px;
height: 40px;
border-radius: 40px;
border: none;
outline: none;
color: black;
background-color:#60fd44;
}

.minter{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;

}
.minter #quantity{
  margin-left: 10px;
  margin-right: 10px;
}
#mint-btn{
width: 230px;
height: 50px;
}


#socials{
  text-align: center;
  margin-bottom: 100px;
}
.social{
  margin-left: 60px;
  size: 5rem;
  color:#60fd44;
  display: inline-block;
}
.social:hover{
  transform:translatey(-5px);
}
#socials h1{
  color:#60fd44;

}


/****************team*********************/

#team{
  margin-top: 0px;
  width:100%;
  height:80vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px ;
  /* border: 1px solid blue; */
}

.s-heading h1{
  color:#FFFFFF;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;

}
.s-heading p{
  color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading{
  text-align: center;
  margin: 20px 0px;
}
.s-box{
  background-color: #ffffff;
  width:350px;
  height: 470px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
}
.b-container{
  display: flex;
  justify-content: center;
  align-content: center;


}
.s-b-img{
  width: 80%;
  height: 50%;

}
.s-b-img img{
  width:100%;
  height: 100%;

}
.s-b-text{
  width: 100%;
  height: 40%;
  background-color:#ffffff;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.s-b-text p{
  margin: 0px;
  color:#000266a6;
  font-size: 1.1rem;
  font-family: calibri;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  margin-top: 25px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.s-b-text p:hover{
  color:#000266;
}
.s-b-text a{
  margin-top:15px ;
}
.s-type{
  font-family: calibri;
  color:#000266;
  background-color: #ffffff;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.s-box:hover{
  transform:translateY(-10px);
  transition: all ease 0.3s;

}


/****************Subscribe*********************/


#subscribe{
  background-color: #60fd44;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
  margin:10px 0px;
  margin-top: 80px;
  padding: 30px 0px;
}
#subscribe h3{
font-size:2.5rem;
margin:20px;
color: #000000;
}
.subscribe-input{
width:400px;
height:50px;
background-color:#FFFFFF;
display:flex;
justify-content: center;
border-radius: 50px;
box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.subscribe-input input{
width:100%;
background-color: transparent;
border:none;
outline: none;
text-align: center;
color:#242425;
}
.subscribe-input a{
width:200px;
height:35px;
background-color:#60fd44;
color:#000000;
display: flex;
font-size: 0.9rem;
justify-content: center;
align-items: center;
margin: auto 10px;
border-radius: 20px;
font-weight: 500;
transition: 0.4s ease-in;
}
.subscribe-input a:hover{
  background-color:#000000;
color:#60fd44;
}

/************RESPONSIVE*****************/

@media(max-width:1600px){

.name{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.header-btns{
  margin-left: 10em;
}

.features-model img{
  width: 600px;
}
  #team{
  height:auto;
  }
  .b-container{
  flex-wrap: wrap;
}
  .s-box{
  flex-grow: 1;
}
.s-b-img img{
  object-fit:cover;
}
#features{
  height: 160vh;
}

#mint{
  margin-top: 250px;
}

}

@media(max-width:1400px){
  #features{
    margin-top:250px ;
  }
 }


@media(max-width:1200px){
  .features-model img{
    width:450px;
  }

  .mint-left img{
    width: 400px;
  }
  #features{
    margin-top:350px ;
  }



}

@media(max-width:1050px){
  #features{
    height: 190vh;
  }
}

@media(max-width:970px){
  #main{
    background-size: 970px !important;
  }
  #team{
    margin-top: 60px;
  }
.features-model{
  display: none;
}
.roadMap-right{
  display: none;
}
.roadMap-left{
  width: 100%;
  text-align: center;
}

.s-heading h1{
  font-size: 2.5rem;
  color: #60fd44;
}
.features-text h2{
  font-weight: 600;
}
.b-container{
  margin-top: 30px;
}
#subscribe h3{
  font-size: 2.5rem;
}
#features{
  margin-top: -60px;
  justify-content: center;
  padding-top: 0px;
  font-size: 2rem;
  text-align: center;
  height: 160vh;
}
.f-heading{
  display: none;
}
.features-text{
  width: 90%;
}
.features-text h1{
  font-size:4rem;
  }
  #features{
    height: 180vh;
  }

  .mint-left{
    display: none;
  }
  .mint-right{
    width: 100%;
    
  }
 
  #mintPage{
    height: 40vh;
    align-items: center;

  }



}

@media(max-width:740px){
  #features{
    height: 200vh;
  }
}


@media(max-width:670px){
  #main{
    background-size: 600px !important;
    
  }

  #mint{
    margin-top: 0px;
  }
.name{
  width:60%;
  }
  #roadMap{
    height: 200vh;
  }

  #faq{
    height: 150vh;
  }

  #features{
    height: 250vh;
   
  }
  .arrow{
    margin-bottom: 5em;
  }

  #mintAddress h2{
    padding:10px;
    font-size: 1rem;
    margin-bottom: 50px;
  }

}
  .scroll{
      left: 42.5%;
  }
@media(max-width:1100px){

  #socials{
    margin-top: 50px;
  }
  .menu-icon{
  display:block;
}
      nav{
          justify-content: space-between;
          height: 65px;
          padding: 0px 30px;
      }
      .logo img{
          width:70px;
      }
      .header-btns{
           align-items: center; 
           margin:0;
      }
      .menu{
          display:none;
          position:absolute;
          top:65px;
          left:0px;
          background-color:#000000;
          border-bottom:4px solid #60fd44;
          width:100%;
          padding:0px;
          margin:0px;
      }
      .menu li{
          width:100%;
      }
      nav .menu li a{
          width:100%;
          height:40px;
          justify-content: center;
          align-items: center;
          margin:0px;
          padding: 25px;
          border:1px solid rgba(158, 155, 0, 0.03);
      }
      nav .menu-icon{
          cursor:pointer;
          float:right;
          padding:28px 20px;
          position:relative;
          user-select: none;
      }
      nav .menu-icon .nav-icon{
          background-color:#60fd44;
          position: absolute;
          display:block;
          height:2px;
          position:relative;
          transition: background 0.2s ease-out;
          width:18px;
      }
      nav .menu-icon .nav-icon:before,
      nav .menu-icon .nav-icon:after{
          background:#60fd44;
          content:'';
          display:block;
          height:100%;
          position:absolute;
          transition:all ease-out 0.2s;
          width:100%;
      }
      nav .menu-icon .nav-icon:before{
          top:5px;
      }
      nav .menu-icon .nav-icon:after{
          top:-5px;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon{
          background:transparent;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
          transform: rotate(-45deg);
          top:0;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
          transform: rotate(45deg);
          top:0;
      }
      nav .menu-btn{
          display:none;
      }
      nav .menu-btn:checked ~ .menu{
          display:block;
      }}

      @media(max-width:525px){
        #mint{
          margin-top: 200px;
        }
        .clock{
          height: 100px;
          width: 300px;
          box-shadow: 0 0 3px 15px;
          
        }
        .clock section p{
          font-size: 2rem;
        }

        #mintAddress h2{
          padding:10px;
          font-size: 0.8rem;
          margin-bottom: 50px;
        }

        #socials{
          margin-top: 100px;
          
        }
        .fa-3x{
          font-size: 2em;
        }
        .social{
          margin:10px;
        }
      }

      @media(max-width:450px){
        #features{
          height: 220vh;

        }
        .features-text h2{
          font-size: 1.5rem;
        }
        .features-text h3{
          font-size: 1.2rem;
        }
        .features-text p{
          font-size: 1rem;
        }

        #socials{
          margin-top: 150px;
        }

        #mint{
          margin-top:360px;
        }
        
      }
      @media(max-width:400px){

        .clock{
          height: 70px;
          width: 200px;
          box-shadow: 0 0 2px 10px;
        }

        .clock section{
    
          padding: 0.3rem;
        }

        .clock section p{
          font-size: 1.5rem;
        }

        .clock section small{
          color:silver;
          text-shadow: none;
          font-size: 0.7rem;
        }

      

        #mintAddress h2{
          padding:10px;
          font-size: 0.7rem;
          margin-bottom: 50px;
        }

          .s-box{
              width: 100%;
              height:400px;
          }
          #roadMap{
            height: 220vh;
           
          }
          #roadMap h2{
            font-size: 1.5rem;

          }
          #faq h2{
            font-size: 1.5rem;
          }
        


          .roadMap-left{
            margin: auto;
          }
          #mintAddress h2{
            margin-bottom: 90px;
          }

          #team{
            margin-top: 100px;
          }
          .mint-right button{
            font-size: 1.3rem;
            margin: 10px;
            margin-top:30px;
          }
          #mint-btn{
            width: 150px;
            height: 40px;
          }
          .mint-right{
            padding: 10px;

          }
          .mint-right p{
            margin-top:10px;
            
          }
       
      }

      @media(max-width:335px){
        #mint{
          margin-top:700px;
        }

        #roadMap{
  
          margin-top: 180px;
        }
        #faq{
          margin-top: 180px;
        }
      }

      @media(max-width:325px){
        #team{
          margin-top: 150px;
        }

        #features{
          height: 260vh;

        }
        #socials{
          margin-top: 250px;
        }
        
        .subscribe-input{
          width:300px;
          height:50px;
          }
          nav .menu-icon{
            position: absolute;
            margin-left: 34.5%;
        }

        }